<style type="text/css">
  #controls {
    position: absolute;
    left: 120px;
  }

  #space-filler {
    padding-bottom: 10px;
    padding-left: 5px;
  }
</style>

<div id="space-filler">
  Space filler:
  <md-radio-group [(ngModel)]="chosenSpaceFiller" (ngModelChange)="onChange($event)">
    <md-radio-button *ngFor="let filler of spaceFillers" [value]="filler">
      {{ filler.name }}&nbsp;&nbsp;
    </md-radio-button>
  </md-radio-group>
</div>
<canvas id="board" width="640" height="640"></canvas>
<div id="controls">
  <button md-button (click)="play()">
    <md-icon>play_arrow</md-icon>
  </button>
  <button md-button (click)="pause()">
    <md-icon>pause</md-icon>
  </button>
  <button md-button (click)="stop()">
    <md-icon>stop</md-icon>
  </button>
  <button md-button (click)="next()">
    <md-icon>skip_next</md-icon>
  </button>
</div>
